<div id="template" class="row ghostnet-times" xmlns="http://www.w3.org/1999/html">
    <table class="text-centered">
        <tr>
            <td class="borderless"></td>
            <td colspan="2" class="bg-light-blue"></td>
        </tr>
        <tr>
            <td class="borderless"></td>
            <td class="padding-sm"></td>
            <td></td>
        </tr>
        <tr>
            <td class="text-vertical borderless"></td>
            <td class="bg-light-green padding-sm"></td>
            <td class="bg-light-green padding-sm text-left"></td>
        </tr>
        <tr>
            <td class="text-vertical borderless"></td>
            <td class="bg-light-yellow padding-sm"></td>
            <td class="bg-light-yellow padding-sm"></td>
        </tr>
        <tr>
            <td class="text-vertical borderless"></td>
            <td class="bg-light-salmon padding-sm"></td>
            <td class="bg-light-salmon padding-sm"></td>
        </tr>
        <tr>
            <td class="text-vertical borderless"></td>
            <td class="bg-light-pink padding-sm"></td>
            <td class="bg-light-pink padding-sm"></td>
        </tr>
        <tr class="text-left">
            <td class="borderless"></td>
            <td colspan="2" class="borderless"></td>
        </tr>
    </table>
</div>