<h2>Setting Expectations</h2>

<p>If you are in the middle of a crisis that requires you to relocate for your personal safety, it is unrealistic
    to expect a professional TOC to be set up, with all the amenities and perfect communications. You may
    be cold, tired, hungry, and living out of a vehicle...yet still expected to provide critical communications
    for your community during a crisis. Obviously, the bare minimum communications and battle tracking
    capabilities are the only feasible options in situations of desperation. If you can get an HF radio up on
    JS8Call, that might be the best you can do.</p>

<div class="row">
    <p>Expectations must be tempered in the civilian environment; it is a hard to expect someone to establish
        communications in
        extreme circumstances. However, nothing worth having is free...and nothing worth doing comes easy. For a minimum
        investment, the average person can be vastly more prepared. And for a moderate investment, can be infinitely
        capable in
        a changing world.</p>

    <img id="basic-equipment" src="../assets/images/basic-equipment.png" alt="Basic Equipment"/>
</div>