<h3 class="text-centered">GhostNet Provides Two Main Paths of Info Exchange</h3>

<div class="exchange-paths">
    <div class="exchange-path bg-pink bordered">
        <h3>40m Networks</h3>

        <p class="text-bold">For more local communications throughout a region, set up on a schedule that is most convenient for people
            within that region</p>

        <p>Scheduled weekly every Thursday night at times convenient
            for those working standard business hours.</p>
    </div>

    <div class="exchange-path bg-blue bordered">
        <h3>Data Bridges</h3>

        <p class="text-bold">A variety of networks using bands, times, antenna configs, and data modes best for making long range
            contacts.</p>

        <p>Scheduled weekly, every Saturday with time windows to allow for multiple DX contacts.</p>
    </div>
</div>

<p>Most users will likely find great utility in local communications throughout a region. For instance, if an
    incident were to occur within North America, most people in that region would likely tune in to JS8Call on
    40m to obtain more information. This is easy to do with a wide variety of equipment, and can be done even in
    a comparatively small location. Using a local 40m network, comms can be reliably established even in the
    worst of times, using minimal gear, and very little power.</p>

<p>However, the gear, space, power, and experience needed to make that same network functional around the
    world is quite a challenge. Different antenna arrangements, and an extensive knowledge of band conditions
    is usually required to make reliable links with contacts at extremely long ranges. The average radio operator
    can easily make contact throughout Europe, but making a contact at any time of day from Sweden to Australia
    is another story entirely. Band conditions alone require very specific parameters to be met to ensure the
    highest chance of success. Therefore, we need to establish specific times of day, freqs, and antenna configs to
    make these long range comms reliable.</p>