<div class="north-america-europe bg-blue bordered padding-sm margin-bottom-sm">
    <h2>North America-Europe Data Bridge</h2>
    <p>Established almost entirely on 20m, as this has the best chance of success over such a distance, while
        also being accessible to most people. Set up during the hours of 1800-2000 GMT so as to take advantage of
        afternoon DX potential.</p>
</div>

<div class="europe-australia bg-green bordered padding-sm margin-bottom-sm">
    <h2>Europe-Australia Data Bridge</h2>
    <p>Established on 20m, with an additional plan for 80m. Due to the long range, very short text-based options
        like JS8Call and VarAC will be most reliable. RTTY for blind transmissions or for maintaining comms in the
        worst of ionospheric conditions.</p>
</div>

<div class="australia-south-pacific bg-pink bordered padding-sm margin-bottom-sm">
    <h2>Australia-South Pacific Data Bridge</h2>
    <p>Established on 20m, with an additional plan for 40m. Due to the combination of low population density and
        long range, most comms will have to use the traditional DX bands for “semi-local” comms to be reliable.
        40m can also be used more effectively due to open ocean eliminating vegetation/terrain restricting ground
        waves. However, ocean conditions can also hinder transmissions, so relying on the F2 layer of traditional DX
        bands can also help to ensure reliable comms.</p>
</div>

<div class="north-america-australia bg-yellow bordered padding-sm margin-bottom-sm">
    <h2>North America-Australia Data Bridge</h2>
    <p>Established almost entirely on 80m, as this has the best chance of success over such a distance. This
        will limit users to those who have an 80m antenna system, but due to distance this is the best chance
        for reliable success. Set up during the hours of 1200-1400 GMT due to 80m being most useful when both
        continents are in darkness (mostly), while also considering the feasibility of operating hours for those on a
        tight schedule..</p>
</div>