<div id="ghostnet-ale-frequencies" class="col space-between">
    <div class="row margin-bottom-md">
        <table>
            <thead>
            <tr>
                <th>Channel Name</th>
                <th>Frequency (USB)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="padding-sm"><h3>01GHOSTNET</h3></td>
                <td class="padding-sm"><h3>3598.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>02GHOSTNET</h3></td>
                <td class="padding-sm"><h3>7104.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>03GHOSTNET</h3></td>
                <td class="padding-sm"><h3>7106.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>04GHOSTNET</h3></td>
                <td class="padding-sm"><h3>7108.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>05GHOSTNET</h3></td>
                <td class="padding-sm"><h3>10128.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>06GHOSTNET</h3></td>
                <td class="padding-sm"><h3>14111.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>07GHOSTNET</h3></td>
                <td class="padding-sm"><h3>14113.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>08GHOSTNET</h3></td>
                <td class="padding-sm"><h3>14115.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>09GHOSTNET</h3></td>
                <td class="padding-sm"><h3>18108.5 kHz</h3></td>
            </tr>
            <tr>
                <td class="padding-sm"><h3>10GHOSTNET</h3></td>
                <td class="padding-sm"><h3>28108.5 kHz</h3></td>
            </tr>
            </tbody>
        </table>

        <p><span class="text-bold">Note:</span> All of the frequencies are intended for data
            modes, not voice transmissions. This is for several
            reasons mostly pertaining to the efficiency of
            data transmissions.
            ALE, by its very nature, is not a low-power
            mode. Thus, smaller QRP transceivers will have
            trouble maintaining strong links with other ALE
            stations. By restricting ourselves to data-only
            modes during ALE nets, we can squeeze as much
            efficiency out of the system as possible. In other
            words, you will probably not be able to use Ion2G
            to make a voice phone call using a QRP radio.
            However, sending a text might be more feasible.
            Developments are being made in the world of
            ALE, and as technology improves more reliable
            links can be established by equipment that today
            is less than desirable.
        </p>
    </div>

    <div>
        <p>If you would like to verify your codeplug, or make sure that you have input all channels correctly, below is
            a
            screenshot of the channels as they are set up in the codeplug file.</p>

        <img id="ghostnet-ale-frequency-list" src="../assets/images/ghostnet-ale-frequency-list-screenshot.jpg"
             alt="GhostNet ALE frequencies screenshot"/>
    </div>
</div>