<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="GhostNet is the overarching term for a collection of communications networks set up to allow users
                                        around the world to exchange information without relying on pre-established infrastructure. Far from
                                        being just an emergency plan, GhostNet is intended to ease the transition of radio technology into everyday
                                        life. Though radio networks cannot truly replace the internet, we hope that we can replace a substantial
                                        portion of a person’s daily information requirements, and promote a culture of off-grid information sharing.">
      <title>The Unofficial GhostNet Documentation Project</title>
      <link rel="stylesheet" href="/assets/styles/reset.css">
      <link rel="stylesheet" href="/assets/styles/common.css">
      <link rel="stylesheet" href="/assets/styles/web.css">
   </head>
   <body>
      <header class="disclaimer bordered text-centered">
         <h3 class="text-uppercase text-bold">Welcome to The Unofficial GhostNet Documentation Project</h3>
         <p><span class="text-bold">DISCLAIMER:</span> This website does <span class="text-uppercase text-italic">not</span> contain the official GhostNet documentation.
            If you want to get the official documentation, head on over to the <a href="https://github.com/s2underground/GhostNet" target="_blank">S2 Underground GhostNet Github repo</a>.</p>
      </header>
      {{ content | safe }}
   </body>
</html>