<h2>You Still Need a Radio!</h2>

<p>Preferably, prepared citizen should own a small battery powered Shortwave radio. These radios can usually
    receive most radio transmissions on Earth. If you have a shortwave radio, here’s what’s worth monitoring:</p>

<table>
    <tr class="text-centered">
        <td class="bg-light-blue"><h2>The Gear You Have</h2></td>
        <td class="bg-light-blue"><h2>What You Can Receive</h2></td>
        <td class="bg-light-blue"><h2>Best Practices</h2></td>
    </tr>
    <tr>
        <td class="text-centered"><h2>Simple Shortwave Receiver</h2></td>
        <td>
            <ul>
                <li>Global news reports</li>
                <li>Any voice comms transmitted by
                    hams on amateur freqs
                </li>
                <li>All commercial AM/FM signals</li>
                <li>With a 3.5mm aux cable and
                    a USB sound card, can be used
                    as a primitive receiver for JS8/
                    FT8/RTTY messages (which are
                    decoded on a computer).
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Try scanning every hour for the first 24 hrs
                    following an incident. Though this will burn through
                    battery power, most shortwave receivers store the
                    frequencies on which they received transmissions.
                    In short, if you let your receiver scan for a while
                    (or run the scan function throughout the day, as
                    band conditions change), it will build a library of
                    channels that you can quickly change between. Not
                    all shortwave receivers do this efficiently, so check
                    your specific model to determine if it’s worth it.
                </li>
                <li>At minimum, scan the airwaves with your receiver
                    at sunrise and sunset. This conserves maximum
                    battery power, and also creates a standard plan for
                    those who may be blindly transmitting to others in
                    their local area.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><h2 class="text-centered">Software Defined Radio</h2></td>
        <td>
            <ul>
                <li>All digital HF data modes</li>
                <li>Most digital voice modes</li>
                <li>Almost every radio signal in existence (depending on the SDR)</li>
                <li>Weather satellite imagery</li>
                <li>Weather balloon data</li>
                <li>Aircraft ACARS data</li>
                <li>ADS-B/Mode S data</li>
            </ul>
        </td>
        <td>SDRs have infinite uses. Scanning utilities are useful
            for local traffic. Can also be used to decode modes
            like RTTY and JS8Call in listen-only modes. Requires
            a computer to process signals.
        </td>
    </tr>
    <tr>
        <td><h2 class="text-centered">Analog VHF/UHF Transceiver (Such as a Baofeng)</h2></td>
        <td>
            <ul>
                <li>Unencrypted, analog local radio
                traffic</li>
                <li>NOAA Weather Radio</li>
                <li>Local amateur radio repeaters</li>
            </ul>
        </td>
        <td>When not used for limited communications, analog
            VHF/UHF radios are very useful for scanning local
            freqs or monitoring local ham radio repeaters for
            information.</td>
    </tr>
    <tr>
        <td><h2 class="text-centered">Handheld Scanner</h2></td>
        <td>
            <ul>
                <li>Trunked radio signals, such as
                    public service traffic
                </li>
                <li>All publicly available governmental
                    agency frequencies
                </li>
                <li>All common radio signals used
                    for voice communications.
                </li>
            </ul>
        </td>
        <td>Scanning local radio traffic persistently is beneficial
            for local events. Be mindful of battery usage.</td>
    </tr>
</table>