<div class="row title logo-title margin-bottom-md">
    <div>
        <h1 class="title-font text-uppercase"><span class="text-larger">G</span>host<span class="text-larger">N</span>et <span class="text-larger">E</span>urope</h1>
        <p>Weekly HF radio communications network. For efficiency, this will largely be a
            data-only net, with voice comms only being used in an emergency to coordinate
            further link-ups.</p>
    </div>
    <img src="../assets/images/s2-underground-logo.jpg" alt="S2 Underground logo" />
</div>