<table class="data-bridges margin-bottom-sm">
    <tr>
        <td colspan="2" class="text-centered padding-sm">
            <h2>Weekly Every Saturday</h2>
        </td>
    </tr>
    <tr>
        <td class="bg-light-blue padding-sm">
            <h3>North America-Europe Data Bridge</h3>
        </td>
        <td class="bg-light-blue padding-sm">
            <p><span class="text-bold">1800-1900 UTC - JS8Call Net on 20m @ 14.107 mHz</span>
            Use same Ghostnet groups and naming conventions as on
                previous page.</p>
            <p><span class="text-bold">1900-2000 UTC - Ion2G ALE Comm Window.</span> Use provided config
            file for frequency list, or refer to Ion2G setup page for complete
            frequency list. Best for point-to-point comms between known
                users/callsigns.</p>
        </td>
    </tr>
    <tr>
        <td class="bg-light-yellow padding-sm">
            <h3>Europe-Australia Data Bridge</h3>
        </td>
        <td class="bg-light-yellow  padding-sm">
            <p><span class="text-bold">2000-2100 UTC - JS8Call Net on 20m @ 14.107 mHz</span>
                Use same Ghostnet groups and naming conventions as on
                previous page.</p>
            <p><span class="text-bold">2100-2130 UTC - Ion2G ALE Comm Window.</span> Use provided config
                file for frequency list, or refer to Ion2G setup page for complete
                frequency list.</p>
            <p><span class="text-bold">2130-2200 UTC - JS8Call Net on 80m @ 3.575 mHz</span>
                Use same Ghostnet groups and naming conventions as on
                previous page.</p>
        </td>
    </tr>
</table>
