<table class="schedule">
    <thead>
    <tr>
        <th>Saturday</th>
        <th class="rotate-90">0000Z</th>
        <th class="rotate-90">0100Z</th>
        <th class="rotate-90">0200Z</th>
        <th class="rotate-90">0300Z</th>
        <th class="rotate-90">0400Z</th>
        <th class="rotate-90">0500Z</th>
        <th class="rotate-90">0600Z</th>
        <th class="rotate-90">0700Z</th>
        <th class="rotate-90">0800Z</th>
        <th class="rotate-90">0900Z</th>
        <th class="rotate-90">1000Z</th>
        <th class="rotate-90">1100Z</th>
        <th class="rotate-90">1200Z</th>
        <th class="rotate-90">1300Z</th>
        <th class="rotate-90">1400Z</th>
        <th class="rotate-90">1500Z</th>
        <th class="rotate-90">1600Z</th>
        <th class="rotate-90">1700Z</th>
        <th class="rotate-90">1800Z</th>
        <th class="rotate-90">1900Z</th>
        <th class="rotate-90">2000Z</th>
        <th class="rotate-90">2100Z</th>
        <th class="rotate-90">2200Z</th>
        <th class="rotate-90">2300Z</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-centered">NA/EUR Data Bridge (20m)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-blue"></td>
        <td class="bg-blue"></td>
        <td ></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-centered">EUR/AUS Data Bridge (20m,80m)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-green"></td>
        <td class="bg-green"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-centered">AUS/PAC Data Bridge (20m,40m)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-crimson"></td>
        <td class="bg-crimson"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="text-centered">NA/AUS Data Bridge (20m,80m)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-yellow"></td>
        <td class="bg-yellow"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>