---
layout: layouts/web.njk
---

<p class="version">Version 1.2</p>

<div class="downloads">
    <p>Download a printable version:</p>
    <ul>
        <li>
            <a href="/assets/pdfs/ghostnet-4x6.pdf" download>4x6 in</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>US Letter</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>Wallet</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A6</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A5</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A4</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
    </ul>
</div>

{%- include "pages/ghostnet-overview/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-overview/intro.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/weekly-js8call.md' -%}{% endmarkdown %}</section>
<div class="row">
    <section>{% markdown %}{%- include 'pages/ghostnet-overview/data-bridges.md' -%}{% endmarkdown %}</section>
    <aside class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-overview/baofeng.md' -%}{% endmarkdown %}</aside>
</div>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/receive-only.md' -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/ion2g-ale-networks.md' -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-concept/title.html" -%}
<section>{% markdown %}{%- include 'pages/ghostnet-concept/intro.md' -%}{% endmarkdown %}</section>
<section>{%- include 'pages/ghostnet-concept/info-exchange-paths.html' -%}</section>
<section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-concept/simple.md' -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-concept/ale.md' -%}{% endmarkdown %}</section>

{%- include "pages/emergency-c2-nodes/title.html" -%}
<section>{% markdown %}{%- include "pages/emergency-c2-nodes/intro.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/emergency-c2-nodes/comms-priority.md" -%}{% endmarkdown %}</section>
<div class="row">
    <section>{% markdown %}{%- include 'pages/emergency-c2-nodes/radios-and-the-fog-of-war.md' -%}{% endmarkdown %}</section>
    <aside class="middle-of-the-night bg-light-blue bordered padding-sm">{% markdown %}{%- include 'pages/emergency-c2-nodes/middle-of-the-night.md' -%}{% endmarkdown %}</aside>
</div>
<section class="setting-expectations">{%- include "pages/emergency-c2-nodes/setting-expectations.html" -%}</section>

{%- include "pages/ghostnet-survivability/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-survivability/intro.md" -%}{% endmarkdown %}</section>
<section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include "pages/ghostnet-survivability/issues.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/ghostnet-survivability/plan-comes-together.md" -%}{% endmarkdown %}</section>

{%- include "pages/architecture-of-privacy/title.html" -%}
<section>{% markdown %}{%- include "pages/architecture-of-privacy/content.md" -%}{% endmarkdown %}</section>

{%- include "pages/whats-the-point/title.html" -%}
<section>{% markdown %}{%- include "pages/whats-the-point/reasons.md" -%}{% endmarkdown %}</section>
<section class="bg-light-yellow bordered padding-sm">{% markdown %}{%- include "pages/whats-the-point/use-cases.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/whats-the-point/summary.md" -%}{% endmarkdown %}</section>

{%- include "pages/data-bridge-overview/title.html" -%}
<section>{% markdown %}{%- include "pages/data-bridge-overview/content.html" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-schedule-at-a-glance/title.html" -%}
<section>{%- include "pages/ghostnet-schedule-at-a-glance/thursday.html" -%}</section>
<section>{%- include "pages/ghostnet-schedule-at-a-glance/saturday.html" -%}</section>
<div class="row column-gap-md">
    <section class="bg-light-blue bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-schedule-at-a-glance/ad-hoc-crisis-nets.md' -%}{% endmarkdown %}</section>
    <section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-schedule-at-a-glance/persistent-comms-networks.md' -%}{% endmarkdown %}</section>
</div>

{%- include "pages/ghostnet-north-america/title.html" -%}
<section>{%- include "pages/ghostnet-north-america/content.html" -%}</section>

{%- include "pages/north-america-data-bridges/title.html" -%}
<section>{% markdown %}{%- include "pages/north-america-data-bridges/intro.md" -%}{% endmarkdown %}</section>
<section>{%- include "pages/north-america-data-bridges/saturday.html" -%}</section>
<section>{% markdown %}{%- include "pages/north-america-data-bridges/bottom.md" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-europe/title.html" -%}
<section>{%- include "pages/ghostnet-europe/content.html" -%}</section>

{%- include "pages/europe-data-bridges/title.html" -%}
<section>{% markdown %}{%- include "pages/europe-data-bridges/intro.md" -%}{% endmarkdown %}</section>
<section>{%- include "pages/europe-data-bridges/saturday.html" -%}</section>
<section>{% markdown %}{%- include "pages/europe-data-bridges/bottom.md" -%}{% endmarkdown %}</section>