---
layout: layouts/web.njk
---

<p class="version">Version 1.2</p>

<div class="downloads">
    <p>Download a printable version:</p>
    <ul>
        <li>
            <a href="/assets/pdfs/ghostnet-4x6.pdf" download>4x6 in</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>US Letter</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>Wallet</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A6</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A5</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
        <li class="disabled">
            <a href="#" download>A4</a> <img class="icon" width="16" height="16" src="/assets/icons/pdf.svg" alt="PDF"/>
        </li>
    </ul>
</div>

{%- include "pages/ghostnet-overview/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-overview/intro.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/weekly-js8call.md' -%}{% endmarkdown %}</section>
<div class="row">
    <section>{% markdown %}{%- include 'pages/ghostnet-overview/data-bridges.md' -%}{% endmarkdown %}</section>
    <aside class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-overview/baofeng.md' -%}{% endmarkdown %}</aside>
</div>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/receive-only.md' -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-overview/ion2g-ale-networks.md' -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-concept/title.html" -%}
<section>{% markdown %}{%- include 'pages/ghostnet-concept/intro.md' -%}{% endmarkdown %}</section>
<section>{%- include 'pages/ghostnet-concept/info-exchange-paths.html' -%}</section>
<section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-concept/simple.md' -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include 'pages/ghostnet-concept/ale.md' -%}{% endmarkdown %}</section>

{%- include "pages/emergency-c2-nodes/title.html" -%}
<section>{% markdown %}{%- include "pages/emergency-c2-nodes/intro.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/emergency-c2-nodes/comms-priority.md" -%}{% endmarkdown %}</section>
<div class="row">
    <section>{% markdown %}{%- include 'pages/emergency-c2-nodes/radios-and-the-fog-of-war.md' -%}{% endmarkdown %}</section>
    <aside class="middle-of-the-night bg-light-blue bordered padding-sm">{% markdown %}{%- include 'pages/emergency-c2-nodes/middle-of-the-night.md' -%}{% endmarkdown %}</aside>
</div>
<section class="setting-expectations">{%- include "pages/emergency-c2-nodes/setting-expectations.html" -%}</section>

{%- include "pages/ghostnet-survivability/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-survivability/intro.md" -%}{% endmarkdown %}</section>
<section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include "pages/ghostnet-survivability/issues.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/ghostnet-survivability/plan-comes-together.md" -%}{% endmarkdown %}</section>

{%- include "pages/architecture-of-privacy/title.html" -%}
<section>{% markdown %}{%- include "pages/architecture-of-privacy/content.md" -%}{% endmarkdown %}</section>

{%- include "pages/whats-the-point/title.html" -%}
<section>{% markdown %}{%- include "pages/whats-the-point/reasons.md" -%}{% endmarkdown %}</section>
<section class="bg-light-yellow bordered padding-sm">{% markdown %}{%- include "pages/whats-the-point/use-cases.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/whats-the-point/summary.md" -%}{% endmarkdown %}</section>

{%- include "pages/data-bridge-overview/title.html" -%}
<section>{% markdown %}{%- include "pages/data-bridge-overview/content.html" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-schedule-at-a-glance/title.html" -%}
<section>{%- include "pages/ghostnet-schedule-at-a-glance/thursday.html" -%}</section>
<section>{%- include "pages/ghostnet-schedule-at-a-glance/saturday.html" -%}</section>
<div class="row column-gap-md">
    <section class="bg-light-blue bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-schedule-at-a-glance/ad-hoc-crisis-nets.md' -%}{% endmarkdown %}</section>
    <section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include 'pages/ghostnet-schedule-at-a-glance/persistent-comms-networks.md' -%}{% endmarkdown %}</section>
</div>

{%- include "pages/ghostnet-north-america/title.html" -%}
<section>{%- include "pages/ghostnet-north-america/content.html" -%}</section>

{%- include "pages/north-america-data-bridges/title.html" -%}
<section>{% markdown %}{%- include "pages/north-america-data-bridges/intro.md" -%}{% endmarkdown %}</section>
<section>{%- include "pages/north-america-data-bridges/saturday.html" -%}</section>
<section>{% markdown %}{%- include "pages/north-america-data-bridges/bottom.md" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-europe/title.html" -%}
<section>{%- include "pages/ghostnet-europe/content.html" -%}</section>

{%- include "pages/europe-data-bridges/title.html" -%}
<section>{% markdown %}{%- include "pages/europe-data-bridges/intro.md" -%}{% endmarkdown %}</section>
<section>{%- include "pages/europe-data-bridges/saturday.html" -%}</section>
<section>{% markdown %}{%- include "pages/europe-data-bridges/bottom.md" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-australia/title.html" -%}
<section>{%- include "pages/ghostnet-australia/content.html" -%}</section>

{%- include "pages/australia-data-bridges/title.html" -%}
<section>{% markdown %}{%- include "pages/australia-data-bridges/intro.md" -%}{% endmarkdown %}</section>
<section>{%- include "pages/australia-data-bridges/saturday.html" -%}</section>
<section>{% markdown %}{%- include "pages/australia-data-bridges/bottom.md" -%}{% endmarkdown %}</section>

{%- include "pages/ghostnet-best-practices/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-best-practices/content.md" -%}{% endmarkdown %}</section>
<section class="bg-light-salmon bordered padding-sm">{% markdown %}{%- include "pages/ghostnet-best-practices/use-common-sense.md" -%}{% endmarkdown %}</section>

{%- include "pages/help-my-js8call-isnt-working/title.html" -%}
<section>{%- include "pages/help-my-js8call-isnt-working/content.html" -%}</section>

{%- include "pages/basic-incident-response/title.html" -%}
<section class="bordered padding-sm bg-light-pink">{% markdown %}{%- include "pages/basic-incident-response/immediate-concerns.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-salmon">{% markdown %}{%- include "pages/basic-incident-response/battle-tracking.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-blue">{% markdown %}{%- include "pages/basic-incident-response/follow-on-actions.md" -%}{% endmarkdown %}</section>

{%- include "pages/incident-response-monitoring/title.html" -%}
<section>{% markdown %}{%- include "pages/incident-response-monitoring/basic-monitoring-capabilities.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-pink">{% markdown %}{%- include "pages/incident-response-monitoring/sigint.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-tan">{% markdown %}{%- include "pages/incident-response-monitoring/imint.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-blue">{% markdown %}{%- include "pages/incident-response-monitoring/comint.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-gray">{% markdown %}{%- include "pages/incident-response-monitoring/masint.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-salmon">{% markdown %}{%- include "pages/incident-response-monitoring/humint.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-green">{% markdown %}{%- include "pages/incident-response-monitoring/osint.md" -%}{% endmarkdown %}</section>

{%- include "pages/readiness-conditions/title.html" -%}
<section>{%- include "pages/readiness-conditions/redcons.html" -%}</section>
<section>{%- include "pages/readiness-conditions/ppe.html" -%}</section>

{%- include "pages/platform-overview/title.html" -%}
<section class="bordered padding-sm bg-light-blue">{% markdown %}{%- include "pages/platform-overview/js8call.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-salmon">{% markdown %}{%- include "pages/platform-overview/ion2g-hf-ale.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-yellow">{% markdown %}{%- include "pages/platform-overview/winlink.md" -%}{% endmarkdown %}</section>
<section class="bordered padding-sm bg-light-tan">{% markdown %}{%- include "pages/platform-overview/meshtastic.md" -%}{% endmarkdown %}</section>

{%- include "pages/ion2g-setup-and-configuration/title.html" -%}
<section>{%- include "pages/ion2g-setup-and-configuration/content.html" -%}</section>

{%- include "pages/ghostnet-ale-frequency-list/title.html" -%}
<section>{%- include "pages/ghostnet-ale-frequency-list/content.html" -%}</section>

{%- include "pages/ghostnet-receive-only-options/title.html" -%}
<section>{% markdown %}{%- include "pages/ghostnet-receive-only-options/intro.md" -%}{% endmarkdown %}</section>
<section class="bordered bg-light-salmon padding-sm">{% markdown %}{%- include "pages/ghostnet-receive-only-options/needed-hardware.md" -%}{% endmarkdown %}</section>
<section class="bordered bg-light-blue padding-sm">{% markdown %}{%- include "pages/ghostnet-receive-only-options/needed-software.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/ghostnet-receive-only-options/simplified-setup-checklist.md" -%}{% endmarkdown %}</section>

{%- include "pages/last-ditch-receive-only-options/title.html" -%}
<section>{% markdown %}{%- include "pages/last-ditch-receive-only-options/intro.md" -%}{% endmarkdown %}</section>
<section>{% markdown %}{%- include "pages/last-ditch-receive-only-options/you-still-need-a-radio.html" -%}{% endmarkdown %}</section>