---
layout: layouts/paged.njk
---

<article>
    <section class="page unofficial">
        <p class="version">Version 1.2</p>
        <h1 class="text-uppercase"><span class="largechar">G</span>host<span class="largechar">N</span>et <span
                class="largechar">O</span>verview</h1>
        <section>{% markdown %}{%- include "pages/overview/intro.md" -%}{% endmarkdown %}</section>
        <section>{% markdown %}{%- include 'pages/overview/weekly-js8call.md' -%}{% endmarkdown %}</section>
        <div class="row">
            <section>{% markdown %}{%- include 'pages/overview/data-bridges.md' -%}{% endmarkdown %}</section>
            <aside class="baofeng bordered">{% markdown %}{%- include 'pages/overview/baofeng.md' -%}{% endmarkdown %}
            </aside>
        </div>
        <section>{% markdown %}{%- include 'pages/overview/receive-only.md' -%}{% endmarkdown %}</section>
        <section>{% markdown %}{%- include 'pages/overview/ion2g-ale-networks.md' -%}{% endmarkdown %}</section>
        <p class="pagenum"></p>
    </section>

    <section class="page unofficial">
        <h1 class="text-uppercase"><span class="largechar">G</span>host<span class="largechar">N</span>et <span
                class="largechar">C</span>oncept</h1>
        <section>{% markdown %}{%- include 'pages/concept/intro.md' -%}{% endmarkdown %}</section>
        <section class="info-exchange-paths">{%- include 'pages/concept/info-exchange-paths.html' -%}</section>
        <section class="simple bordered">{% markdown %}{%- include 'pages/concept/simple.md' -%}{% endmarkdown %}
        </section>
        <section>{% markdown %}{%- include 'pages/concept/ale.md' -%}{% endmarkdown %}</section>
        <p class="pagenum"></p>
    </section>

    <section class="page unofficial">
        <h1 class="text-uppercase"><span class="largechar">E</span>mergency <span class="largechar">C</span>2<span class="largechar"> N</span>odes</h1>
        <section>{% markdown %}{%- include "pages/emergency-c2-nodes/intro.md" -%}{% endmarkdown %}</section>
        <section>{% markdown %}{%- include "pages/emergency-c2-nodes/comms-priority.md" -%}{% endmarkdown %}</section>
        <div class="row">
            <section>{% markdown %}{%- include 'pages/emergency-c2-nodes/radios-and-the-fog-of-war.md' -%}{% endmarkdown %}</section>
            <aside class="middle-of-the-night bordered">{% markdown %}{%- include 'pages/emergency-c2-nodes/middle-of-the-night.md' -%}{% endmarkdown %}</aside>
        </div>
        <section class="setting-expectations">
            {%- include "pages/emergency-c2-nodes/setting-expectations.html" -%}
        </section>
        <p class="pagenum"></p>
    </section>

    <section class="page unofficial">
        <h1 class="text-uppercase"><span class="largechar">G</span>host<span class="largechar">N</span>et <span class="largechar">S</span>urvivability</h1>
        <section>{% markdown %}{%- include "pages/survivability/intro.md" -%}{% endmarkdown %}</section>
        <section class="issues bordered">{% markdown %}{%- include "pages/survivability/issues.md" -%}{% endmarkdown %}</section>
        <section>{% markdown %}{%- include "pages/survivability/plan-comes-together.md" -%}{% endmarkdown %}</section>
        <p class="pagenum"></p>
    </section>

    <section class="page unofficial">
        <h1 class="text-uppercase"><span class="largechar">A</span>rchitecture <span class="largechar">O</span>f <span class="largechar">P</span>rivacy</h1>
        <section>{% markdown %}{%- include "pages/architecture-of-privacy/content.md" -%}{% endmarkdown %}</section>
        <p class="pagenum"></p>
    </section>

    <section class="page unofficial">
        <h1 class="text-uppercase"><span class="largechar">&ldquo;W</span>hat<span class="largechar">'</span>s <span class="largechar">T</span>he <span class="largechar">P</span>oint?<span class="largechar">&rdquo;</span></h1>
        <section>{% markdown %}{%- include "pages/whats-the-point/reasons.md" -%}{% endmarkdown %}</section>
        <section class="use-cases bordered">{% markdown %}{%- include "pages/whats-the-point/use-cases.md" -%}{% endmarkdown %}</section>
        <section>{% markdown %}{%- include "pages/whats-the-point/summary.md" -%}{% endmarkdown %}</section>
        <p class="pagenum"></p>
    </section>
</article>