<table id="ppe">
    <tr>
        <td></td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP READY</td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP 0 (ZERO)</td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP 1</td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP 2</td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP 3</td>
        <td class="bg-light-salmon text-centered padding-sm">MOPP 4</td>
        <td class="bg-light-salmon text-centered padding-sm">COMMAND</td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Mask</td>
        <td class="text-centered padding-sm">Carried</td>
        <td class="text-centered padding-sm">Carried</td>
        <td class="text-centered padding-sm">Carried</td>
        <td class="text-centered padding-sm">Carried</td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">1</span></td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm">Worn</td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Overgarment</td>
        <td class="text-centered padding-sm">Ready<span class="text-superscript">3</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">1</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">1</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">1</span></td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm"></td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Overboots</td>
        <td class="text-centered padding-sm">Ready<span class="text-superscript">3</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm"></td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Gloves</td>
        <td class="text-centered padding-sm">Ready<span class="text-superscript">3</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm"></td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Helmet Cover</td>
        <td class="text-centered padding-sm">Ready<span class="text-superscript">3</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm">Worn</td>
        <td class="text-centered padding-sm"></td>
    </tr>
    <tr>
        <td class="bg-light-yellow text-centered padding-sm">Protective Undergarment</td>
        <td class="text-centered padding-sm">Ready<span class="text-superscript">3</span></td>
        <td class="text-centered padding-sm">Available<span class="text-superscript">4</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">2</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">2</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">2</span></td>
        <td class="text-centered padding-sm">Worn<span class="text-superscript">2</span></td>
        <td class="text-centered padding-sm"></td>
    </tr>
    <tr>
        <td colspan="8">
            <ol>
                <li>In hot weather, coat or hood can be left open for ventilation.</li>
                <li>The chemical protective undergarment is worn under the BDU (this primarily applies to armor vehicle
                    crewmen and SOF).</li>
                <li>These items must be available to the soldier within two hours, with a second set available within six
                    hours.</li>
                <li>These items must be positioned within arms reach of the soldier.</li>
            </ol>
        </td>
    </tr>
</table>