<table id="redcons" class="margin-bottom-sm">
    <tr>
        <td class="bg-light-pink text-centered padding-sm">
            <h2>READCON1</h2>
        </td>
        <td class="bg-light-pink padding-sm">
            <p class="text-bold">Full Alert: Unit Ready to Move and Fight:</p>
            <ul>
                <li>WMD Alarms and hot loop equipment stowed. OPs pulled in.</li>
                <li>All personnel alert and mounted on weapons. Weapons manned.</li>
                <li>Engines started.</li>
                <li>Company team is ready to move immediately.</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td class="bg-light-salmon text-centered padding-sm">
            <h2>READCON2</h2>
        </td>
        <td class="bg-light-salmon padding-sm">
            <p class="text-bold">Full Alert: Unit Ready to Fight:</p>
            <ul>
                <li>Equipment stowed (except hot loop and WMD alarms)</li>
                <li>Precombat checks complete</li>
                <li>All personnel alert and mounted in vehicles; weapons manned and
                    charged, round in chamber, weapon on safe.
                (NOTE: Depending on tactical situation and orders from local commander,
                dismounted OPs may remain in place.)</li>
                <li>All (100 percent) digital and FM communications links operational</li>
                <li>Status reports submitted IAW TF SOP</li>
                <li>Company team ready to move within 15 minutes of notification</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td class="bg-light-yellow text-centered padding-sm">
            <h2>READCON3</h2>
        </td>
        <td class="bg-light-yellow padding-sm">
            <p class="text-bold">Reduced Alert:</p>
            <ul>
                <li>50 percent of the unit executes work and rest plans</li>
                <li>Remainder of the unit executes security plan. Based on the commander’s
                    guidance and the enemy situation, some personnel executing the
                    security plan may execute portions of the work plan</li>
                <li>Company team is ready to move within 30 minutes of notification.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="bg-light-green text-centered padding-sm">
            <h2>READCON4</h2>
        </td>
        <td class="bg-light-green padding-sm">
            <p class="text-bold">Minimum Alert:</p>
            <ul>
                <li>OPs manned; one soldier per platoon designated to monitor radio and
                    man turret weapons.
                </li>
                <li>Digital and FM links with TF and other company teams maintained</li>
                <li>Company team is ready to move within one hour of notification.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="bg-light-blue text-centered padding-sm">
            <h2>STAND-TO</h2>
        </td>
        <td class="bg-light-blue padding-sm">
            <p>Stand-To encompasses all actions take to bring the company to a maximum
                state of preparedness. Times for Stand-To are derived from TF
                commander’s OPORD. Unit SOP should specify Stand-To requirements,
                which will usually include procedures for sending and receiving reports,
                use of accountability checks for personnel and equipment, and criteria
                for assuming REDCON levels 1 and 2.</p>
        </td>
    </tr>
</table>