.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-centered {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
}

.bordered {
    border-color: #000;
    border-style: solid;
}

.bg-salmon {
    background-color: #fddfcd;
}

.bg-pink {
    background-color: #f1d2d2;
}

.bg-blue {
    background-color: #cce3f0;
}

.bg-yellow {
    background-color: #fef6db;
}

.bg-green {
    background-color: #d5e9d2;
}

.version {
    color: crimson;
}

.exchange-paths {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exchange-paths > .exchange-path {
    text-align: center;
}