th, td {
    border-color: #000;
    border-style: solid;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-font {
    font-family: MinionPro-Regular, serif;
    font-weight: lighter;
}

.text-larger {
    font-size: 150%;
}

.text-centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-vertical {
    writing-mode: vertical-rl;
}

.text-superscript {
    vertical-align: super;
    font-size: smaller;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.bordered {
    border-color: #000;
    border-style: solid;
}

.borderless {
    border-style: none;
}

.bg-light-gray {
    background-color: #ebeae7;
}

.bg-light-salmon {
    background-color: #fddfcd;
}

.bg-light-pink {
    background-color: #f1d2d2;
}

.bg-crimson {
    background-color: #d81b60;
}

.bg-light-blue {
    background-color: #cce3f0;
}

.bg-blue {
    background-color: #0072b2;
}

.bg-light-tan {
    background-color: #e1ddd1;
}

.bg-light-yellow {
    background-color: #fef6db;
}

.bg-yellow {
    background-color: #fdd24b;
}

.bg-light-green {
    background-color: #d5e9d2;
}

.bg-green {
    background-color: #27aa47;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-neg-90 {
    transform: rotate(-90deg);
}

.version {
    color: #d81b60;
}

.logo-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blank-underline {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid #000;
}

.exchange-paths {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exchange-paths > .exchange-path {
    text-align: center;
}

#redcons ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#ghostnet-ale-frequencies .row > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#ghostnet-ale-frequencies table td {
    width: 50%;
}

img#ghostnet-ale-frequency-list {
    padding: 0;
    width: 100%;
}