@import url("reset.css");
@import url("common.css");

@page {
    size: 4in 6in;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

p,ul {
    font-family: Bahnschrift, sans-serif;
    font-size: 6.5pt;
    letter-spacing: -0.05em;
}

ul {
    margin-left: .125in; /* 1/8th inch */
    margin-right: .125in; /* 1/8th inch */
}

h1 {
    font-family: MinionPro-Regular, serif;
    font-size: 13pt;
    font-weight: lighter;
}

h1 > .largechar {
    font-size: 18pt;
}

h2,h3 {
    font-family: Impact, serif;
    font-weight: lighter;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 8pt;
}

aside {
    padding: .015625in; /* 1/64th inch */
    margin-left: .03125in; /* 1/32th inch */
}

.bordered {
    border-width: .015625in; /* 1/64th inch */
}

.page {
    height: 6in;
    position: relative;
    padding: .03125in; /* 1/32nd inch */
    border: .03125in solid #bdb8ad; /* 1/32nd inch */
}

.pagenum {
    position: absolute;
    bottom: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.pagenum:after {
    content: counter(page);
}

.version {
    position: absolute;
    top: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.footnote {
    font-size: 5pt;
}

.unofficial {
    position: relative;
}

.unofficial:before {
    position: absolute;
    content: "UNOFFICIAL";
    font-size: 50pt;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(300deg);
    color: rgba(220, 20, 60, 0.3);
    z-index: 999;
}

.exchange-paths {
    column-gap: .03125in; /* 1/32th inch */
}

.exchange-paths > .exchange-path {
    padding: .015625in; /* 1/64th inch */
}

.simple {
    padding: .015625in; /* 1/64th inch */
}

#basic-equipment {
    max-width: 65%;
    margin-left: .03125in; /* 1/32th inch */
}

.issues {
    padding: .015625in; /* 1/64th inch */
}

#modular-privacy-img {
    width: 85%;
}

.use-cases {
    padding: .015625in; /* 1/64th inch */
}

@media print {
    .page {
        page-break-after: always;
    }
}