@import url("common.css");

@page {
    size: 4in 6in;
    margin: 0;
    padding: .0325in; /* 1/16th inch */
    border: .0325in solid #bdb8ad; /* 1/16th inch */
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

p {
    font-family: Bahnschrift, sans-serif;
    font-size: 6.5pt;
    letter-spacing: -0.06em;
}

h1 {
    font-family: MinionPro-Regular, serif;
    font-size: 13pt;
    font-weight: lighter;
}

h1 > .largechar {
    font-size: 18pt;
}

h2,h3,h4 {
    font-family: Impact, serif;
    font-weight: lighter;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 8pt;
}

.bordered {
    border-width: .015625in; /* 1/64th inch */
}

.version {
    position: absolute;
    top: .0325in; /* 1/16th inch */
    right: .0325in; /* 1/16th inch */
}

aside {
    padding: .015625in; /* 1/64th inch */
    margin-left: .03125in; /* 1/32th inch */
}

.exchange-paths {
    column-gap: .03125in; /* 1/32th inch */
}

.exchange-paths > .exchange-path {
    padding: .015625in; /* 1/64th inch */
}

.footnote {
    font-size: 4pt;
}

.simple {
    padding: .015625in; /* 1/64th inch */
}

.unofficial {
    position: relative;
}

.unofficial:before {
    position: absolute;
    content: "UNOFFICIAL";
    font-size: 50pt;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(300deg);
    color: rgba(220, 20, 60, 0.3);
    z-index: 999;
}

#basic-equipment {
    max-width: 65%;
    margin-left: .03125in; /* 1/32th inch */
}

/* Leave some room for the page number */
.page {
    padding-bottom: 0.1875in; /* 3/16 inch */
}

.pagenum {
    line-height: 0;
    position: absolute;
    bottom: .0325in; /* 1/16th inch */
    right: .0325in; /* 1/16th inch */
}

.pagenum:after {
    content: counter(page);
}

@media print {
    .page {
        page-break-after: always;
    }
}