@import url("reset.css");
@import url("common.css");

@page {
    size: 4in 6in;
    margin: 0;
    padding: 0;
}

@page Landscape {
    size: 6in 4in;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

p,ul,table {
    font-family: Bahnschrift, sans-serif;
    font-size: 6.5pt;
    letter-spacing: -0.05em;
}

ul {
    margin-left: .125in; /* 1/8th inch */
    margin-right: .125in; /* 1/8th inch */
}

h1 {
    font-family: MinionPro-Regular, serif;
    font-size: 13pt;
    font-weight: lighter;
}

h1 > .largechar {
    font-size: 18pt;
}

h2,h3 {
    font-family: Impact, serif;
    font-weight: lighter;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 8pt;
}

aside {
    margin-left: .03125in; /* 1/32th inch */
}

.bordered {
    border-width: .015625in; /* 1/64th inch */
}

.padding-sm {
    padding: .015625in; /* 1/64th inch */
}

.margin-bottom-sm {
    margin-bottom: .015625in; /* 1/64th inch */
}

.margin-bottom-md {
    margin-bottom: .03125in; /* 1/32nd inch */
}

.page {
    height: 6in;
    position: relative;
    padding: .03125in; /* 1/32nd inch */
    border: .03125in solid #bdb8ad; /* 1/32nd inch */
}

.page.landscape {
    page: Landscape;
    height: 4in;
    width: 6in;
}

.pagenum {
    position: absolute;
    bottom: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.pagenum:after {
    content: counter(page);
}

.version {
    position: absolute;
    top: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.footnote {
    font-size: 5pt;
}

.unofficial {
    position: relative;
}

.unofficial:before {
    position: absolute;
    content: "UNOFFICIAL";
    font-size: 50pt;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(-60deg);
    color: rgba(220, 20, 60, 0.3);
    z-index: 999;
}

.unofficial.landscape:before {
    transform: translateX(-50%) rotate(60deg);
}

.column-gap-md {
    column-gap: .03125in; /* 1/32th inch */
}

#basic-equipment {
    max-width: 65%;
    margin-left: .03125in; /* 1/32th inch */
}

#modular-privacy-img {
    width: 85%;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .03125in; /* 1/32th inch */
}

.schedule th, td {
    border-width: .015625in; /* 1/64th inch */
}

/* Height of the first row */
.schedule thead {
    height: 0.33in;
}

/* Height of the other rows */
.schedule tbody tr {
    height: 0.25in;
}

/* Width of the first column */
.schedule td:first-child,th:first-child {
    min-width: 1.25in;
}

/* Width of the other columns */
.schedule td:not(:first-child),th:not(:first-child) {
    max-width: 0.19in;
}

.logo-title img {
    height: auto;
    max-width: 0.6in;
}

/* Style text along the left side (time zone description) */
.ghostnet-times > p:first-child {
    flex-basis: 0.15in;
}

/* Style UTC times in the first column */
.ghostnet-times tr td:first-child {
    width: 0.15in;
}

/* Style the "all times gmt" column */
.ghostnet-times tr:not(:first-child) td:nth-child(2) {
    width: 1.0in;
}

/* Style the first column */
.data-bridges tr:not(:first-child) td:first-child {
    width: 1.5in;
}

@media print {
    .page {
        page-break-after: always;
    }
    .page.landscape {
        page-break-after: always;
    }
}