@import url("reset.css");
@import url("common.css");

@page {
    size: 4in 6in;
    margin: 0;
    padding: 0;
}

@page Landscape {
    size: 6in 4in;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.03;
}

p,ul,ol,table,div {
    font-family: Bahnschrift, sans-serif;
    font-size: 6.5pt;
    font-weight: lighter;
    letter-spacing: -0.05em;
}

img {
    padding: 0 .125in 0 0.125in; /* 1/8th inch */
}

li {
    margin-left: .125in; /* 1/8th inch */
}

h1 {
    font-size: 13pt;
}

h2,h3 {
    font-family: Impact, serif;
    font-weight: lighter;
}

h2 {
    font-size: 10pt;
}

h3 {
    font-size: 8pt;
}

aside {
    margin-left: .03125in; /* 1/32th inch */
}

.bordered {
    border-width: .015625in; /* 1/64th inch */
}

.padding-sm {
    padding: .015625in; /* 1/64th inch */
}

.padding-md {
    padding: .03125in; /* 1/32nd inch */
}

.margin-bottom-sm {
    margin-bottom: .015625in; /* 1/64th inch */
}

.margin-bottom-md {
    margin-bottom: .03125in; /* 1/32nd inch */
}

.page {
    height: 6in;
    position: relative;
    padding: .03125in; /* 1/32nd inch */
    border: .03125in solid #bdb8ad; /* 1/32nd inch */
}

.page.landscape {
    page: Landscape;
    height: 4in;
    width: 6in;
}

.pagenum {
    position: absolute;
    bottom: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.pagenum:after {
    content: counter(page);
}

.version {
    position: absolute;
    top: .03125in; /* 1/32nd inch */
    right: .03125in; /* 1/32nd inch */
}

.footnote {
    font-size: 5pt;
}

.stamped {
    position: relative;
}

.stamped:before {
    position: absolute;
    font-size: 60pt;
    top: 45%;
    transform: translateX(-7%) rotate(-60deg);
    color: rgba(220, 20, 60, 0.3);
    z-index: 999;
}

.stamped.landscape:before {
    transform: translateX(10%) rotate(30deg);
}

.unofficial:before {
    content: "UNOFFICIAL";
}

.column-gap-md {
    column-gap: .03125in; /* 1/32th inch */
}

#basic-equipment {
    max-width: 60%;
    margin-left: .03125in; /* 1/32th inch */
}

#modular-privacy-img {
    width: 85%;
}

.schedule {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .03125in; /* 1/32th inch */
}

th, td {
    border-width: .015625in; /* 1/64th inch */
}

/* Height of the first row */
.schedule thead {
    height: 0.31in;
}

/* Height of the other rows */
.schedule tbody tr {
    height: 0.25in;
}

/* Width of the first column */
.schedule td:first-child,th:first-child {
    min-width: 1.25in;
}

/* Width of the other columns */
.schedule td:not(:first-child),th:not(:first-child) {
    max-width: 0.1922in;
}

.logo-title img {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 0.6in;
}

/* Style text along the left side (time zone description) */
.ghostnet-times > p:first-child {
    flex-basis: 0.15in;
}

/* Style UTC times in the first column */
.ghostnet-times tr td:first-child {
    width: 0.15in;
}

/* Style the "all times gmt" column */
.ghostnet-times tr:not(:first-child) td:nth-child(2) {
    width: 1.0in;
}

/* Style the first column */
.data-bridges tr:not(:first-child) td:first-child {
    width: 1.5in;
}

#redcons tr td:first-child {
    width: 1.0in;
}

#redcons li {
    margin-left: 0;
}

#ppe tr:not(:last-child) td {
    padding: .03125in; /* 1/32th inch */
}

#ion2g-ale-code-plug-configuration {
    max-width: 50%;
}

#ion2g-ale-new-channel {
    max-width: 25%;
}

#ion2g-ale-new-address {
    max-width: 50%;
}

#ghostnet-ale-frequencies > div:first-child {
    margin-bottom: 0.45in;
}

#ghostnet-ale-frequencies .row {
    column-gap: .03125in; /* 1/32th inch */
}

#ghostnet-ale-frequencies tr .padding-sm {
    padding: .0625in; /* 1/16th inch */
}

@media print {
    .page {
        page-break-after: always;
    }
    .page.landscape {
        page-break-after: always;
    }
}