@page {
    size: 4in 6in;
    margin: 0;
    padding: .0325in; /* 1/16th inch */
    border: .0325in solid #bdb8ad; /* 1/16th inch */
}

.pagenum {
    position: absolute;
    bottom: .0325in; /* 1/16th inch */
    right: .0325in; /* 1/16th inch */
}

.pagenum:after {
    content: counter(page);
}

* {
    margin: 0;
    padding: 0;
    font-size: 6pt;
    line-height: 1.0;
}

h1 {
    font-size: 12pt;
    font-weight: lighter;
}

h1 > .largechar {
    font-size: 18pt;
}

h2 {
    font-size: 10pt;
    font-weight: bold;
}

.text-centered {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.row {
    display: flex;
    flex-direction: row;
}

.bordered {
    border: .015625in solid #000; /* 1/64th inch */
}

.version {
    color: crimson;
    position: absolute;
    top: .0325in; /* 1/16th inch */
    right: .0325in; /* 1/16th inch */
}

.baofeng {
    background-color: #fddfcd;
}

.exchange-paths {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: .03125in; /* 1/32th inch */
}

.exchange-paths > .exchange-path {
    text-align: center;
}

.exchange-paths > .forty-meter-networks {
    background-color: #f1d2d2;
}

.exchange-paths > .data-bridges {
    background-color: #cce3f0;
}

.simple {
    background-color: #fddfcd;
}

.footnote {
    font-size: 4pt;
}

@media print {
    .page {
        page-break-after: always;
    }
}