/*
    === Custom styles ===
*/

body {
    margin: 1rem;
}

section {
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

h3 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

.icon {
    display: inline;
    vertical-align: middle;
}

.largechar {
    font-size-adjust: 0.66;
}

.bordered {
    border-width: 2px;
}

.disclaimer {
    padding: 0.5rem;
    background-color: rgb(248, 215, 218);
    border: 1px solid #f1aeb5;
    border-radius: 0.375rem;
}

.downloads {
    display: flex;
    flex-direction: row;
}

.downloads ul {
    padding-left: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

@media (max-width: 675px) {
    .downloads {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .downloads ul {
        padding-left: 0;
        flex-direction: column;
    }

    .downloads li {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
}

.downloads li {
    margin-right: 1rem;
}

.downloads li.disabled a {
    color: #777;
    cursor: default;
}

.version {
    text-align: right;
}

aside {
    margin-left: 1rem;
    padding: 1rem;
}

.exchange-paths {
    column-gap: 10px;
}

.exchange-paths > .exchange-path {
    padding: 1rem;
}

.simple {
    padding: 1rem;
}

.footnote {
    font-size: small;
}

.setting-expectations p img {
    display: inline;
    width: 50%;
    float: right;
    margin: 0.5rem;
}

.issues {
    padding: 1rem;
}

#modular-privacy-img {
    padding: 1rem;
}

.use-cases {
    padding: 1rem;
}
