/*
    === Custom styles ===
*/

body {
    margin: 1rem;
}

section {
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

h3 {
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

aside {
    margin-left: 1rem;
}

img {
    padding: 0 1rem 0 1rem;
}

.icon {
    display: inline;
    vertical-align: middle;
}

.largechar {
    font-size-adjust: 0.66;
}

.bordered {
    border-width: 2px;
}

.padding-xs {
    padding: 0.5rem;
}

.padding-sm {
    padding: 1rem;
}

.margin-bottom-sm {
    margin-bottom: 1rem;
}

.margin-bottom-md {
    margin-bottom: 1.2rem;
}

.disclaimer {
    background-color: rgb(248, 215, 218);
    border: 1px solid #f1aeb5;
    border-radius: 0.375rem;
}

.downloads {
    display: flex;
    flex-direction: row;
}

.downloads ul {
    padding-left: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

@media (max-width: 675px) {
    .downloads {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .downloads ul {
        padding-left: 0;
        flex-direction: column;
    }

    .downloads li {
        padding: 0.25rem 0 0.25rem 0.25rem;
    }
}

.downloads li {
    margin-right: 1rem;
}

.downloads li.disabled a {
    color: #777;
    cursor: default;
}

.version {
    text-align: right;
}

.column-gap-md {
    column-gap: 10px;
}

.footnote {
    font-size: small;
}

.setting-expectations p img {
    float: right;
    margin: 0.5rem;
}

.schedule {
    width: 100%;
}

.schedule th, td {
    border-width: 2px;
}

.schedule thead {
    height: 3.5rem;
}

.schedule td:first-child,th:first-child {
    padding: 0 0.5rem 0 0.5rem;
}

.schedule td:not(:first-child) {
    width: 2rem;
    height: 2rem;
}

/* Style text along the left side (time zone description) */
.ghostnet-times > p:first-child {
    padding: 1rem;
    flex-basis: 5rem;
}

/* Style UTC times in the first column */
.ghostnet-times tr td:first-child {
    width: 2.5rem;
}

/* Style the "all times gmt" column */
.ghostnet-times tr:not(:first-child) td:nth-child(2) {
    width: 10rem;
}